

.startMenu{
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.startMenu-logo{
  width: 50%
}

.button{
  transition: 0.2s;
  background-color: #40B8D5;
  border: none;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  width: 50%;
  color: white;
  font-size: 24px;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: #00A2C9;
    color: white
  }
}

.quizCard{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  &__header{
    padding-top: 16px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    &__logo{
      width: 33%;
    }
    &__questionNumber{
      display: flex;
      justify-content: start;
      align-items: center;
      margin-left: 12px;
      width: 33%;
    }
    &__score{
      width: 33%;
      justify-content: end;
      display: flex;
      align-items: center;
      margin-right: 12px
    }
  }
  &__question{
    width: 80%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }
  &__answers{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 18px;
    padding-top: 32px;
    padding-bottom: 128px;
  }  
}

.answer {
  transition: 0.2s;
  background-color: #F3F3F3;
  &:hover{
    background-color: #00A2C9;
    color: white
  }  
  border-radius: 32px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  &__body{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__artist{
      font-size: 12px;
      font-weight: 700;
    }
    &__title{
      font-size: 16px;
    }
  }
  &.correct.disabled{
    background-color: #40B8D5;
    color: white
  }
  &.wrong.disabled{
    background-color: #CE4988;
    color: white;
  }
  &.disabled{
    pointer-events: none;
    color: lightgray;
  }
}

.timer{
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  &__circle{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
    circle{
      width: 100%;
      height: 100%;
      fill: transparent;
      stroke-width: 8;
      transform: translate(5px, 5px);
    }
    &__first{
      stroke: #F3F3F3;
     
    }
    &__second{
      stroke: #40B8D5;
      stroke-dasharray: 440;
      stroke-dashoffset: 440;
      transition: stroke-dashoffset 1s linear;

    }
  }
  &__display{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 62px;
    img{
      width: 80px;
      height: 80px;
    }
  }  
}

.final-countdown{
  box-shadow: 0 0 0 0 rgba(155, 22, 102, 0.5);
  animation: pulse 1s infinite cubic-bezier(0, 0, 0, 1);;   
}
@keyframes pulse {to {box-shadow: 0 0 0 25px rgba(180, 15, 114, 0);}}

.gameover{
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;  
  &__title{
    margin-top: 40px;
    font-size: 38px;
    font-weight: 700
  }
  &__picture{
    width: 50%;
  }
  &__scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text{
      font-size: 24px;
    }
    &__score{
      display: flex;
      justify-content: center;
      font-size: 36px;
      font-weight: 700;
      &__star{
        width: 48px;
      }      
    }
  }
  &__bottom-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}



.dev__timerFeedback{
  position: fixed;
  top: 0px;
  left: 120px;
  margin: 0px;
  color: red;
}

.dev__nextButton{
  position: fixed;
  top: 0;
  right: 0;
  margin: auto;
}

.miniPlayer{
  position: fixed;
  top: 0;
  left: 0;
}



.go-animation {
	-webkit-animation: go-animation 0.8s linear both;
	        animation: go-animation 0.8s linear both;
}

.result-animation{
	-webkit-animation: result-animation 0.8s linear both;
	        animation: result-animation 0.8s linear both;
}

@keyframes go-animation {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  40% {
    -webkit-transform: scale(1.4) rotateZ(180deg);
            transform: scale(1.4) rotateZ(180deg);
  }
  80%{
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);    
            opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg); 
            opacity: 0;
  }
}

@keyframes result-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  80%{
    -webkit-transform: scale(1);
            transform: scale(1);    
            opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); 
            opacity: 0;
  }
}


.dialog {
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: large;
  border: none;
  background-color: rgba(0, 0, 0, 0.212);
  &__container{
    position: relative;
    height: 400px;
    width: 100%;
    background-color: white;
    border: #F3F3F3 solid 2px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.sharebox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 20px;
  &__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__title{
      font-size: 1.5rem;
      font-weight: 400;
    }
    &__closeButton{
      background-color: #F3F3F3;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      border: none;
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
  &__some-network{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  &__link-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
      width: 100%;
      text-align: left;
      margin-bottom: 12px;
      font-size: 1rem;
    }
    &__link{
      cursor: pointer;
      width: 100%;
      background-color: #F3F3F3;
      border-radius: 10px;
      display: flex;
      justify-content: space-evenly;
      padding-top: 10px;
      padding-bottom: 10px;
      img{
        width: 20px;
      }
      p{
        color: #9e9e9e;
        margin: 0;
      }
      &:hover{
        background-color: #40B8D5;
        p{
          color: white;
        }
      }
    }
  }
}